@CHARSET "UTF-8";
body {
	background-color:#002545;
	margin:0 !important;
	padding:0 !important;
}

a {
	text-decoration:none;
}

textarea {
	resize:none;
}

#wrapper {
	margin: 0 auto;
}

#back_top_banner {
	background-image:url('../img/darkblue.png');
	background-repeat:no-repeat;
	width:1200px;
	height:760px;
	margin:0 auto;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
}

#header_social {
	border: 2px solid #002d57;
    border-radius: 10px;
    background-color:#002d57 !important;
    width:200px;
    height:30px;
    float:right;
    margin-top:45px;
    margin-right:100px;
}

.social_icon {
	display:inline-block;
	padding:2px 8px 8px 10px;
}

#name {
	font-family: 'Ubuntu';
	font-weight:bold;
	font-style:italic;
	font-size:60px;
	color:#999999;
	float:left;
	text-shadow: 2px 2px #000000;
	padding-left:180px;
	padding-top:20px;
	cursor:default;
}

#tagline {
	font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 25px;
    font-weight:bold;
	font-style:italic;
	color:#666666;
	float:right;
	text-shadow: 2px 2px #000000;
	padding-right:100px;
	padding-top:20px;
	cursor:default;
}

#top_menu {
	border: 2px solid #00437f;
    border-top-left-radius:10px;
	border-top-right-radius:10px;
	background-repeat:repeat-x;
	background-image:url("../img/gradient_menu.png");
	border-color:#002d57;
	opacity:0.6;
	font-size:12pt;
	height:50px;
	width:920px;
	display:inline-block;
	margin-left:180px;
}

#main_menu {
	margin-top:18px;
	margin-left:40px;
}

#main_menu li {
	display:inline;
	list-style-type:none;	
	padding-right:50px;
}

#main_menu li a {
	color:#ffffff !important;
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

#main_menu li a:hover {
	cursor:pointer;
	cursor:hand;
	font-style:italic;
}

#main_menu li a:visited {
	color:#ffffff !important;
}

#main_menu li a:active {
	font-weight:bold;
}

#content {
	background-color:white;
	border-left: 2px solid #00437f;
	border-right:2px solid #00437f;
	width:920px;
	height:1050px;
	margin:0 auto;
	margin-right:95px;
}

#short_goals {
	float:left;
	width:200px;
}

#short_goals_title {
	padding-right:135px;
	padding-left:20px;
}
#long_goals {
	float:right;
	width:200px;
}

#content_title {
	background-image:url('../img/background_title.png');
	background-repeat:repeat-x;
	margin:0 auto;
	width:920px;
	height:100px;
	border-bottom:2 px solid #000;
}

#content_title_inner {
	font-family: 'Ubuntu', Georgia, Times, serif;
    font-size: 35px;
	color:#666666;
	float:left;
	padding-top:25px;
	padding-left:40px;
	cursor:default;
}

#side-bar {
	margin-top:10px;
	float:right;
	width:300px;	
	padding:10px;
	height:900px;
	border-left: 1px solid #999;
	box-shadow:
		inset 10px 0px 5px -7px rgba(0,0,0,0.2),
		inset 0px 0px 0px 0px rgba(0,0,0,0);
}

#main_content {
	float:left;
	padding:10px;
	margin-top:20px;
	width:550px;
	height:900px;
}

#projects {
	float:left;
	padding:10px;
	margin-top:20px;
	width:550px;
	height:900px;
	overflow-y:scroll;
}

img.project_image {
	height:300px;
	width:300px;	
	align:middle;
}

span.paragraph_title {
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;	
	font-size:16pt;
	font-weight:bold;
	font-style:italic;
}

span.entry_title {
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;	
	font-size:16pt;
	font-weight:bold;
	font-style:italic;
	display:block;
	width:200px;
	margin:0 auto;
}

p.paragraph {
	font-family: 'Vollkorn', Georgia, Times, serif;
	font-size:12pt;
}

#tweet_top {
	padding-top:10px;
	padding-bottom:10px;	
}

.side_title {
	color:#000000 !important;
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:14pt;
}

#tweet_bird {
	padding-right:20px;
}

#blog_title {
	float:right;
	margin-top:10px;
	margin-right:70px;
}

span.blog_entry_title {
	color: #666;
	font-family: 'Roboto Slab', Georgia, Times, serif;
	padding-left:20px;
}

span.small_date {
	padding-left:20px;
	font-size:10pt;
	font-style:italic;
	color:#999;
}

div.tweet {
	border-bottom: 1px solid #999;
	padding:10px;
}

#twitter_news {
	font-size: 10pt;
	font-family: 'Vollkorn', Georgia, Times, serif;
}

#twitter-news a {
	text-decoration: none;
}

span.tweet_handle {
	color:#999999;
	font-weight:bold;
	font-style:italic;	
}

#twitter-news a:hover {
	text-decoration: underline !important; 
	color: #111;
}

#video_div {
	margin-left:130px;	
}

#footer {
	background-color:#1a3955;
	border: 2px solid #00437f;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	width:920px;
	height:250px;
	margin:0 auto;
	margin-right:95px;
	margin-bottom:20px;
}

#footer_contact {
	margin-left:50px;
	margin-top:10px;
	padding:20px;
	border-right: 1px solid #999;	
	width:200px;
}

#footer_title {
	font-size:14pt;
	color:#999999;
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;	
}

#footer_content {
	font-size:12pt;
	color:#99FFFF;
	font-family: 'Vollkorn', Georgia, Times, serif;		
}

#footer_follow {
	margin-top:-225px;
	margin-left:330px;
	padding:50px;
	border-right: 1px solid #999;	
	width:200px;
	height:125px;
}

#footer_social_box {
	margin-left:-10px;
	margin-top:-30px;
}

#footer_social {
	border: 2px solid #002d57;
    border-radius: 10px;
    background-color:#002d57 !important;
    width:200px;
    height:30px;
}

#footer_social_title {
	font-size:14pt;
	color:#999999;
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
	margin-left:30px;	
}

#footer_linkbacks {
	float:right;
	width:200px;
	margin-top:-205px;
	padding-right:50px;
}

#footer_link_content a, #footer_content a {
	color:#99FFFF !important;
	font-weight:bold;
}

#footer_link_content a:visited {
	color:#99FFFF !important;	
}

#copyright {
	color:white;
	width:920px;
	height:10px;
	font-style:italic;
	margin-left:170px;
}

#copyright a {
	color:white;
}

#copyright a:visited {
	color:white;
}

label.email_label {
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
	font-style:italic;
	font-weight:bold;
	font-size:12pt;
}

input.email_field, #message {
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
	font-size:12pt;
	background-color: #99FFFF;
	color:#666666;
	font-style:italic;
	border: 2px solid #00437f;
    border-radius:10px;
    box-shadow: 5px 5px 5px #888888;
    float:right;
    size:20;
    maxlength:20;
    opacity:0.6;
}

input.submit {
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
	font-style:italic;
	color:#333333;
	font-size:12pt;
	float:right;
	box-shadow: 5px 5px 5px #888888;
}

.errormsg {
	font-style:italic;
	font-weight:bold;
	color:#A80000;
	font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}